@model JobPortal.Web.Models.CandidateDetail

@{
    ViewData["Title"] = "Create";
}

<h1>Fill Your Details</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CandidateFirstName" class="control-label"></label>
                <input asp-for="CandidateFirstName" class="form-control" />
                <span asp-validation-for="CandidateFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CandidateLastName" class="control-label"></label>
                <input asp-for="CandidateLastName" class="form-control" />
                <span asp-validation-for="CandidateLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CandidateEmailId" class="control-label"></label>
                <input asp-for="CandidateEmailId" class="form-control" />
                <span asp-validation-for="CandidateEmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateofBirth" class="control-label"></label>
                <input asp-for="DateofBirth" class="form-control" />
                <span asp-validation-for="DateofBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CandidateExperience" class="control-label"></label>
                <input asp-for="CandidateExperience" class="form-control" />
                <span asp-validation-for="CandidateExperience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobDetailId" class="control-label"></label>
                <select asp-for="JobDetailId" class ="form-control" asp-items="ViewBag.JobDetailId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
          
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
