@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="best-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                   
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <p>
                        Online Job Portal is a global online employment solution for people seeking jobs
                        and the employers who need great people. We've been doing this for more
                        than 20 years, and have expanded from our roots as a "job board" to a
                        global provider of a full array of job seeking, career management, recruitment
                        and talent management products and services.

                    </p>
                    <ul class="featured-list">
                        <li>
                            <p>
                                Headquartered in Hyderabad, Online Job Portal India started its operations in 2020
                                and has presence in 11 other cities of India viz., Mumbai, Delhi, Bangalore,
                                Chennai, Pune, Kolkata, Ahmadabad, Baroda, Chandigarh and Cochin.
                            </p>

                        </li>
                        <li>
                            <p>
                                 Job Portal App was voted Product of the Year under the
                                'Mobile App Job' category in a survey of over 18000 people by Nielsen.
                                In 2021 JobPortal.com was voted Product of the Year and back in 2019, mPower
                                Search was voted Product of the Year.
                            </p>
                        </li>

                    </ul>
                   
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="~/about.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

